body
{
	background: url(../images/map/background.png);
}

#svgmap-background
{
	height: 0;

	width: 2500px;
}


#svgmap1
{
	position: relative;
	float: left;

	z-index:2;
}


#svgmap2
{
	position: relative;
	float: left;

	margin-top: -637px;
	margin-left: 165px;
}

#svgmap3
{
	position: relative;
	float: left;

	margin-top: -1085px;
	margin-left: 95px;

}

#map
{

	height: 6000px;

	width: 6000px;
}

.province
{
	cursor: pointer;
}

#button
{

	position: relative;

	float: left;

	width: 200px;
	height: 200px;

	background-color : #ccc;
	cursor: pointer;
}

#svgmap-logos
{
	position: absolute;

	top: 0px;
	left: 0px;

}

#logo-0
{
	margin-left: -10px !important;
	margin-top: -5px !important;

}

#logo-2
{
	margin-left: -9px !important;
	margin-top: -18px !important;

}

#logo-3
{
	margin-left: -21px !important;
	margin-top: -16px !important;

}

#logo-6
{
	margin-left: -2px !important;
	margin-top: -18px !important;

}

#logo-7
{
	margin-top: 0px !important !important;

}

#logo-9
{
	margin-top: -23px !important;
	margin-left: -18px !important;

}

#logo-11
{
	margin-left: -18px !important;
	margin-top: -5px !important;

}

#logo-12
{
	margin-left: -6px !important;

}

#logo-14
{
	margin-left: -15px !important;

}

#logo-15
{
	margin-left: -17px !important;
	margin-top: -15px !important;

}

#logo-16
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -1px !important;
	margin-top: -5px !important;

}

#logo-17
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -1px !important;
	margin-top: -7px !important;

}

#logo-18
{
	margin-left: -7px !important;
	margin-top: -21px !important;

}

#logo-19
{
	margin-left: -11px !important;
	margin-top: 1px !important;

}

#logo-20
{
	margin-left: -17px !important;
	margin-top: -2px !important;

}

#logo-21
{
	width: 21px !important;
	height: 21px !important;

	margin-left: -27px !important;
	margin-top: -13px !important;

}

#logo-22
{
	margin-left: -5px !important;

}

#logo-23
{
	margin-top: -5px !important;

}

#logo-24
{
	margin-top: -9px !important;

}

#logo-25
{
	margin-left: -7px !important;
	margin-top: -15px !important;

}

#logo-26
{
	width: 22px !important;
	height: 22px !important;

	margin-left: -8px !important;
	margin-top: -12px !important;

}

#logo-27
{
	margin-top: -24px !important;

}

#logo-29
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -16px !important;
	margin-top: -11px !important;

}

#logo-30
{
	margin-left: -9px !important;
	margin-top: -8px !important;

}

#logo-31
{
	margin-left: 5px !important;

}

#logo-32
{
	margin-left: -28px !important;

}

#logo-33
{
	margin-left: 11px !important;
	margin-top: -17px !important;

}

#logo-34
{
	margin-left: -45px !important;
	margin-top: -7px !important;

}

#logo-35
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -14px !important;
	margin-top: -13px !important;

}

#logo-36
{
	margin-left: -23px !important;
	margin-top: -5px !important;

}

#logo-37
{
	margin-left: -18px !important;
	margin-top: 2px !important;

}

#logo-38
{
	margin-left: -29px !important;
	margin-top: -18px !important;

}

#logo-40
{
	margin-left: -11px !important;
	margin-top: -18px !important;

}

#logo-41
{
	margin-left: -24px !important;
	margin-top: -1px !important;

}

#logo-42
{
	margin-left: -27px !important;

}

#logo-43
{
	margin-left: -16px !important;
	margin-top: -16px !important;

}

#logo-44
{
	width: 22px !important;
	height: 22px !important;

	margin-left: -13px !important;

}

#logo-45
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -6px !important;
	margin-top: -14px !important;

}

#logo-46
{
	margin-left: -19px !important;
	margin-top: -9px !important;

}

#logo-47
{
	margin-top: -20px !important;

}

#logo-49
{
	margin-left: -15px !important;
	margin-top: -14px !important;

}

#logo-50
{
	margin-top: -31px !important;

}

#logo-51
{
	margin-top: -8px !important;

}

#logo-52
{
	margin-top: -22px !important;
	margin-left: -9px !important;

}

#logo-53
{
	margin-top: -37px !important;
	margin-left: -7px !important;

}

#logo-54
{
	margin-left: -6px !important;
	margin-top: -7px !important;

}

#logo-55
{
	margin-top: -10px !important;
	margin-left: -15px !important;

}

#logo-56
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -12px !important;
	margin-top: -7px !important;

}

#logo-57
{
	margin-left: -1px !important;
	margin-top: -12px !important;

}

#logo-58
{
	margin-top: -14px !important;
	margin-left: -8px !important;

}

#logo-59
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;

}

#logo-60
{
	margin-left: -10px !important;
	margin-top: -15px !important;

}

#logo-61
{
	margin-left: -6px !important;

}

#logo-62
{
	margin-left: -9px !important;
	margin-top: -14px !important;

}

#logo-63
{
	margin-left: -7px !important;
	margin-top: -5px !important;

}

#logo-64
{
	margin-left: -8px !important;
	margin-top: 14px !important;

}

#logo-65
{
	margin-left: -2px !important;
	margin-top: -4px !important;

}

#logo-66
{
	margin-left: -9px !important;
	margin-top: 3px !important;

}

#logo-67
{
	margin-left: -26px !important;
	margin-top: -30px !important;

}

#logo-68
{
	margin-left: -7px !important;
	margin-top: -8px !important;

}

#logo-69
{
	width: 22px !important;
	height: 22px !important;

	margin-left: 0px !important;
	margin-top: -11px !important;

}

#logo-70
{
	margin-top: -9px !important;

}

#logo-71
{
	margin-left: -1px !important;
	margin-top: -16px !important;

}

#logo-72
{
	margin-left: -2px !important;
	margin-top: -1px !important;

}

#logo-73
{
	margin-left: -20px !important;
	margin-top: -13px !important;

}

#logo-75
{
	margin-top: -13px !important;

}

#logo-76
{
	margin-top: -15px !important;
	margin-left: -5px !important;

}

#logo-77
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -11px !important;
	margin-top: -1px !important;

}

#logo-78
{
	margin-top: -13px !important;

}

#logo-79
{
	margin-left: -24px !important;
	margin-top: -2px !important;

}

#logo-80
{
	margin-top: -19px !important;
	margin-left: -6px !important;

}

#logo-81
{
	width: 16px !important;
	height: 16px !important;

	margin-top: 1px !important;

}

#logo-82
{
	margin-left: -18px !important;
	margin-top: -20px !important;

}

#logo-83
{
	margin-left: -16px !important;
	margin-top: -17px !important;

}

#logo-84
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;
	margin-top: -9px !important;

}

#logo-86
{
	margin-left: -16px !important;
	margin-top: -18px !important;

}

#logo-87
{
	margin-top: -6px !important;
	margin-left: -7px !important;

}

#logo-88
{
	margin-left: -13px !important;
	margin-top: -14px !important;

}

#logo-89
{
	margin-top: -9px !important;
	margin-left: -8px !important;

}

#logo-90
{
	margin-left: -8px !important;
	margin-top: -15px !important;

}

#logo-91
{
	margin-top: -19px !important;

}

#logo-92
{
	margin-left: -5px !important;

}

#logo-93
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -29px !important;
	margin-top: -5px !important;

}

#logo-94
{
	margin-left: -9px !important;
	margin-top: -17px !important;

}

#logo-95
{
	margin-left: -13px !important;
	margin-top: -18px !important;

}

#logo-96
{
	margin-left: -18px !important;
	margin-top: -18px !important;

}

#logo-97
{
	margin-top: 28px !important;
	margin-left: -8px !important;

}

#logo-98
{
	margin-left: -22px !important;
	margin-top: -14px !important;

}

#logo-99
{
	margin-top: -9px !important;

}

#logo-100
{
	margin-left: 0px !important;
	margin-top: -9px !important;

}

#logo-101
{
	margin-top: -20px !important;
	margin-left: -2px !important;

}

#logo-102
{
	margin-top: -10px !important;
	margin-left: -6px !important;

}

#logo-103
{
	margin-top: 1px !important;
	margin-left: -23px !important;

}

#logo-104
{
	margin-top: -15px !important;
	margin-left: -15px !important;

}

#logo-105
{
	margin-top: -17px !important;
	margin-left: -14px !important;

}

#logo-106
{
	margin-top: -10px !important;
	margin-left: -17px !important;

}

#logo-107
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -29px !important;
	margin-top: -11px !important;

}

#logo-108
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -11px !important;
	margin-top: -7px !important;

}

#logo-109
{
	margin-left: -13px !important;
	margin-top: -20px !important;

}

#logo-110
{
	margin-top: -15px !important;
	margin-left: -9px !important;

}

#logo-111
{
	margin-left: -3px !important;

}

#logo-112
{
	margin-left: -9px !important;
	margin-top: -2px !important;

}

#logo-113
{
	margin-left: -14px !important;
	margin-top: -16px !important;

}

#logo-114
{
	margin-left: -18px !important;
	margin-top: -12px !important;

}

#logo-115
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -15px !important;
	margin-top: 3px !important;

}

#logo-116
{
	width: 16px !important;
	height: 16px !important;

	margin-left: 2px !important;
	margin-top: -14px !important;

}

#logo-117
{
	margin-left: -3px !important;
	margin-top: 2px !important;

}

#logo-118
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -5px !important;
	margin-top: -6px !important;

}

#logo-119
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -4px !important;
	margin-top: 22px !important;

}

#logo-120
{
	margin-top: -7px !important;
	margin-left: -26px !important;

}

#logo-121
{
	margin-left: -10px !important;

}

#logo-122
{
	margin-top: -17px !important;
	margin-left: -5px !important;

}

#logo-123
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -9px !important;
	margin-top: -10px !important;

}

#logo-124
{
	margin-left: -14px !important;
	margin-top: -14px !important;

}

#logo-125
{
	margin-top: -10px !important;
	margin-left: -16px !important;

}

#logo-127
{
	margin-left: -4px !important;
	margin-top: -17px !important;

}

#logo-128
{
	margin-left: -9px !important;
	margin-top: -18px !important;

}

#logo-129
{
	width: 18px !important;
	height: 18px !important;

	margin-left: 0px !important;
	margin-top: -14px !important;

}

#logo-130
{
	margin-left: -25px !important;
	margin-top: -11px !important;

}

#logo-131
{
	width: 18px !important;
	height: 18px !important;

}

#logo-132
{
	margin-top: -21px !important;

}

#logo-133
{
	margin-left: -9px !important;
	margin-top: -11px !important;

}

#logo-134
{
	margin-left: -23px !important;
	margin-top: -15px !important;

}

#logo-135
{
	margin-top: -15px !important;
	margin-left: -7px !important;

}

#logo-136
{
	margin-left: -8px !important;
	margin-top: -17px !important;

}

#logo-137
{
	margin-left: 3px !important;
	margin-top: 0px !important;

}

#logo-138
{
	margin-left: -7px !important;
	margin-top: -17px !important;

}

#logo-139
{
	margin-top: -1px !important;
	margin-left: -20px !important;

}

#logo-140
{
	margin-left: -3px !important;
	margin-top: -17px !important;

}

#logo-141
{
	margin-top: -22px !important;
	margin-left: -9px !important;

}

#logo-142
{
	margin-left: -19px !important;
	margin-top: -27px !important;

}

#logo-143
{
	margin-top: -18px !important;
	margin-left: -16px !important;

}

#logo-144
{
	margin-left: -13px !important;
	margin-top: -4px !important;

}

#logo-145
{
	margin-left: -9px !important;

}

#logo-146
{
	margin-top: -22px !important;

}

#logo-147
{
	margin-top: -14px !important;
	margin-left: -7px !important;

	width: 20px;
	height: 20px;

}

#logo-148
{
	margin-top: -14px !important;
	margin-left: -9px  !important;

}

#logo-149
{
	margin-top: -14px !important;

}

#logo-150
{
	margin-left: -23px !important;

}

#logo-151
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -8px !important;
	margin-top: -10px !important;

}

#logo-152
{
	margin-left: -15px !important;

}

#logo-153
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -3px !important;
	margin-top: -3px !important;

}

#logo-154
{
	margin-left: -5px !important;
	margin-top: -15px !important;

}

#logo-155
{
	margin-left: -13px !important;
	margin-top: -10px !important;

}

#logo-156
{
	margin-top: -52px !important;
	margin-left: -4px !important;

}

#logo-157
{
	width: 22px !important;
	height: 22px !important;

	margin-left: 9px !important;
	margin-top: 0px !important;

}

#logo-158
{
	margin-left: -3px !important;
	margin-top: -21px !important;

}

#logo-159
{
	margin-top: -18px !important;

}

#logo-160
{
	margin-top: -20px !important;

}

#logo-161
{
	margin-top: -16px !important;
	margin-left: -9px !important;

}

#logo-162
{
	width: 20px !important;
	height: 20px !important;

	margin-top: -11px !important;

}

#logo-163
{
	margin-top: -18px !important;

}

#logo-165
{
	margin-top: -20px !important;
	margin-left: -11px !important;

}

#logo-166
{
	margin-top: -13px !important;
	margin-left: -7px !important;

}

#logo-167
{
	margin-top: -15px !important;
	margin-left: -10px !important;

}

#logo-168
{
	margin-left: -14px !important;

}

#logo-169
{
	margin-left: -16px !important;
	margin-top: -17px !important;

}

#logo-170
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -14px !important;
	margin-top: -8px !important;

}

#logo-171
{
	margin-top: -18px !important;

}

#logo-172
{
	margin-left: -22px !important;
	margin-top: -20px !important;

}

#logo-173
{
	margin-left: -15px !important;
	margin-top: -28px !important;

}

#logo-174
{
	margin-top: -20px !important;
	margin-left: -32px !important;

}

#logo-175
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;
	margin-top: -6px !important;

}

#logo-176
{
	margin-left: -1px !important;

}

#logo-177
{
	margin-left: -4px !important;
	margin-top: -16px !important;

}

#logo-178
{
	margin-left: -10px !important;

}

#logo-179
{
	margin-left: -8px !important;
	margin-top: -16px !important;

}

#logo-180
{
	margin-top: 1px !important;
	margin-left: -15px !important;

}

#logo-181
{
	margin-left: -5px !important;
	margin-top: -17px !important;

}

#logo-182
{
	margin-top: -16px !important;
	margin-left: -50px !important;

}

#logo-183
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -7px !important;

}

#logo-184
{
	margin-top: -15px !important;

}

#logo-185
{
	margin-top: -8px !important;

}

#logo-186
{
	margin-left: -48px !important;
	margin-top: -19px !important;

}

#logo-187
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -14px !important;
	margin-top: -8px !important;

}

#logo-188
{
	margin-top: -21px !important;

}

#logo-189
{
	margin-left: -21px !important;
	margin-top: -7px !important;

}

#logo-190
{
	margin-left: -8px !important;
	margin-top: -22px !important;

}

#logo-191
{
	margin-left: 56px !important;
	margin-top: -27px !important;

}

#logo-192
{
	margin-left: -23px !important;
	margin-top: -20px !important;

}

#logo-193
{
	margin-left: -36px !important;
	margin-top: -12px !important;

}

#logo-194
{
	margin-left: 21px !important;
	margin-top: -23px !important;

}

#logo-195
{
	margin-top: -7px !important;
	margin-left: -6px !important;

}

#logo-196
{
	margin-left: 11px !important;
	margin-top: -17px !important;

}

#logo-197
{
	margin-left: -17px !important;
	margin-top: -15px !important;

}

#logo-198
{
	margin-left: -23px !important;

}

#logo-199
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -2px !important;
	margin-top: -7px !important;

}

#logo-200
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -28px !important;
	margin-top: -17px !important;

}

#logo-201
{
	margin-left: -14px !important;

}

#logo-202
{
	width: 18px !important;
	height: 18px !important;

	margin-left: 7px !important;
	margin-top: -14px !important;

}

#logo-203
{
	margin-left: -15px !important;
	margin-top: -15px !important;

}

#logo-204
{
	margin-left: -15px !important;

}

#logo-205
{
	margin-top: -19px !important;

}

#logo-207
{
	margin-left: -5px !important;

}

#logo-208
{
	margin-left: -11px !important;
	margin-top: -32px !important;

}

#logo-209
{
	margin-top: -22px !important;

}

#logo-210
{
	margin-left: -14px !important;
	margin-top: -21px !important;

}

#logo-211
{
	margin-top: -19px !important;
	margin-left: -7px !important;

}

#logo-212
{
	margin-top: -9px !important;
	margin-left: -10px !important;

}

#logo-213
{
	margin-top: -26px !important;
	margin-left: -19px !important;

}

#logo-214
{
	margin-top: -17px !important;

}

#logo-215
{
	margin-left: -21px !important;
	margin-top: -14px !important;

}

#logo-216
{
	margin-top: -10px !important;

}

#logo-217
{
	margin-top: -14px !important;

}

#logo-218
{
	margin-left: -3px !important;
	margin-top: -19px !important;

}

#logo-219
{
	margin-left: -2px !important;
	margin-top: -7px !important;

}

#logo-220
{
	margin-top: -15px !important;

}

#logo-221
{
	margin-top: -17px !important;

}

#logo-222
{
	margin-top: -5px !important;
	margin-left: -16px !important;

}

#logo-223
{
	margin-top: -17px !important;
	margin-left: -4px !important;

}

#logo-224
{
	margin-left: -9px !important;
	margin-top: -9px !important;

}

#logo-225
{
	margin-left: -4px !important;
	margin-top: -18px !important;

}

#logo-226
{
	margin-top: -10px !important;
	margin-left: -5px !important;

}

#logo-227
{
	margin-top: -16px !important;

}

#logo-228
{
	margin-left: -4px !important;
	margin-top: -20px !important;

}

#logo-229
{
	margin-top: -16px !important;
	margin-left: -28px !important;

}

#logo-230
{
	width: 22px !important;
	height: 22px !important;

	margin-left: -10px !important;
	margin-top: -18px !important;

}

#logo-231
{
	margin-left: -6px !important;

}

#logo-232
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -5px !important;
	margin-top: -5px !important;

}

#logo-233
{
	margin-top: -16px !important;
	margin-left: -30px !important;

}

#logo-234
{
	margin-top: -19px !important;
	margin-left: -17px !important;

}

#logo-235
{
	margin-left: -23px !important;
	margin-top: -18px !important;

}

#logo-236
{
	width: 16px !important;
	height: 16px !important;

	margin-left: 2px !important;
	margin-top: -7px !important;

}

#logo-237
{
	margin-left: -11px !important;
	margin-top: -16px !important;

}

#logo-238
{
	margin-top: -14px !important;

}

#logo-239
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -10px !important;
	margin-top: -20px !important;

}

#logo-240
{
	margin-left: -15px !important;
	margin-top: -27px !important;

}

#logo-241
{
	width: 20px !important;
	height: 20px !important;

	margin-top: 10px !important;
	margin-left: -41px !important;

}

#logo-242
{
	margin-left: -5px !important;
	margin-top: -3px !important;

}

#logo-243
{
	margin-left: -10px !important;
	margin-top: -24px !important;

}

#logo-244
{
	margin-left: -23px !important;
	margin-top: 2px !important;

}

#logo-245
{
	margin-left: -12px !important;
	margin-top: -20px !important;

}

#logo-246
{
	margin-left: -29px !important;
	margin-top: -5px !important;

}

#logo-247
{
	margin-left: -9px !important;
	margin-top: -20px !important;

}

#logo-248
{
	margin-top: -8px !important;
	margin-left: -20px !important;

}

#logo-249
{
	width: 22px !important;
	height: 22px !important;

	margin-left: -30px !important;
	margin-top: -7px !important;

}

#logo-250
{
	margin-left: -10px !important;
	margin-top: -20px !important;

}

#logo-251
{
	margin-top: -18px !important;
	margin-left: -9px !important;

}

#logo-252
{
	margin-left: -7px !important;
	margin-top: -18px !important;

}

#logo-253
{
	margin-left: -9px !important;

}

#logo-254
{
	margin-left: -13px !important;
	margin-top: -20px !important;

}

#logo-255
{
	margin-left: -17px !important;
	margin-top: -11px !important;

}

#logo-256
{
	margin-left: -13px !important;
	margin-top: 6px !important;

}

#logo-257
{
	margin-top: -9px !important;
	margin-left: -15px !important;

}

#logo-258
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -23px !important;
	margin-top: -20px !important;

}

#logo-259
{
	margin-left: -6px !important;

}

#logo-260
{
	margin-left: -20px !important;

}

#logo-261
{
	margin-left: -7px !important;
	margin-top: -19px !important;

}

#logo-262
{
	margin-top: -13px !important;

}

#logo-263
{
	margin-left: -25px !important;
	margin-top: -3px !important;

}

#logo-264
{
	margin-left: -8px !important;
	margin-top: -8px !important;

}

#logo-265
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -9px !important;
	margin-top: -21px !important;

}

#logo-266
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -9px !important;

}

#logo-267
{
	width: 20px !important;
	height: 20px !important;

	margin-left: 8px !important;
	margin-top: -8px !important;
}

#logo-268
{
	margin-left: 7px !important;
	margin-top: -8px !important;

}

#logo-269
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -8px !important;
	margin-top: -8px !important;

}

#logo-270
{
	margin-top: 5px !important;

}

#logo-271
{
	margin-left: -22px !important;
	margin-top: -18px !important;

}

#logo-272
{
	margin-top: -14px !important;
	margin-left: 5px !important;

}

#logo-273
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -2px !important;
	margin-top: -12px !important;

}

#logo-274
{
	margin-left: -9px !important;
	margin-top: -23px !important;

}

#logo-275
{
	margin-left: -9px !important;
	margin-top: -21px !important;

}

#logo-276
{
	margin-top: -9px !important;
	margin-left: -6px !important;

}

#logo-277
{
	margin-left: -5px !important;
	margin-top: -35px !important;

}

#logo-278
{
	margin-left: -27px !important;
	margin-top: -9px !important;

}

#logo-279
{
	margin-left: -15px !important;
	margin-top: -16px !important;

}

#logo-280
{
	margin-left: -18px !important;

}

#logo-281
{
	margin-left: -4px !important;

}

#logo-282
{
	margin-left: -5px !important;
	margin-top: -16px !important;

}

#logo-283
{
	margin-top: -8px !important;
	margin-left: -13px !important;

}

#logo-284
{
	margin-top: -20px !important;
	margin-left: -22px !important;

}

#logo-285
{
	width: 22px !important;
	height: 22px !important;

	margin-left: -9px !important;
	margin-top: -2px !important;

}

#logo-286
{
	margin-left: -15px !important;
	margin-top: -6px !important;

}

#logo-287
{
	margin-top: -17px !important;
	margin-left: -14px !important;

}

#logo-288
{
	margin-top: -4px !important;
	margin-left: -14px !important;

}

#logo-289
{
	margin-left: -30px !important;
	margin-top: 4px !important;

}

#logo-290
{
	margin-left: 0px !important;
	margin-top: -19px !important;

}

#logo-291
{
	margin-left: -31px !important;
	margin-top: -19px !important;

}

#logo-292
{
	margin-left: -10px !important;
	margin-top: -7px !important;

}

#logo-293
{
	margin-left: -8px !important;
	margin-top: -15px !important;

}

#logo-294
{
	margin-left: -5px !important;
	margin-top: -14px !important;

}

#logo-295
{
	margin-left: -9px !important;
	margin-top: 12px !important;

}

#logo-296
{
	margin-left: 5px !important;

}

#logo-297
{
	margin-left: 13px !important;

}

#logo-298
{
	margin-left: -3px !important;
	margin-top: -10px !important;

}

#logo-299
{
	margin-left: 11px !important;
	margin-top: -31px !important;

}

#logo-300
{
	margin-left: -15px !important;
	margin-top: -1px !important;

}

#logo-301
{
	margin-top: -19px !important;

}

#logo-302
{
	margin-top: 5px !important;

}

#logo-303
{
	margin-left: -17px !important;
	margin-top: -27px !important;

}

#logo-304
{
	margin-left: -6px !important;
	margin-top: -5px !important;

}

#logo-305
{
	margin-left: 7px !important;
	margin-top: -24px !important;

}

#logo-306
{
	margin-left: -4px !important;
	margin-top: -11px !important;

}

#logo-307
{
	margin-top: -16px !important;
	margin-left: -16px !important;

}

#logo-308
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;
	margin-top: -6px !important;

}

#logo-309
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -12px !important;
	margin-top: -14px !important;

}

#logo-310
{
	margin-top: -15px !important;
	margin-left: 0px !important;

}

#logo-311
{
	margin-left: -5px !important;
	margin-top: -15px !important;

}

#logo-312
{
	margin-left: -45px !important;
	margin-top: -18px !important;

}

#logo-313
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -14px !important;
	margin-top: 21px !important;

}

#logo-314
{
	width: 16px !important;
	height: 16px !important;

	margin-left: 2px !important;
	margin-top: -5px !important;

}

#logo-315
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -7px !important;
	margin-top: -13px !important;

}

#logo-316
{
	margin-left: -4px !important;
	margin-top: -20px !important;

}

#logo-317
{
	width: 18px !important;
	height: 18px !important;

}

#logo-318
{
	margin-left: -7px !important;
	margin-top: -20px !important;

}

#logo-319
{
	margin-left: -14px !important;
	margin-top: -19px !important;

}

#logo-320
{
	margin-left: -10px !important;
	margin-top: -15px !important;

}

#logo-321
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -14px !important;
	margin-top: -17px !important;

}

#logo-322
{
	margin-left: -6px !important;

}

#logo-323
{
	width: 18px !important;
	height: 18px !important;

}

#logo-324
{
	margin-left: -6px !important;

}

#logo-325
{
	width: 20px !important;
	height: 20px !important;

	margin-left: 9px !important;
	margin-top: -14px !important;

}

#logo-326
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -13px !important;

}

#logo-327
{
	margin-left: -10px !important;

}

#logo-328
{
	margin-top: -7px !important;

}

#logo-329
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -17px !important;
	margin-top: -4px !important;

}

#logo-330
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -7px !important;
	margin-top: -8px !important;

}

#logo-331
{
	margin-top: -21px !important;
	margin-left: -9px !important;

}

#logo-332
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;
	margin-top: -7px !important;

}

#logo-333
{
	margin-top: -16px !important;
	margin-left: -16px !important;

}

#logo-334
{
	margin-left: -14px !important;

}

#logo-335
{
	width: 20px !important;
	height: 20px !important;

	margin-left: 1px !important;
	margin-top: -23px !important;

}

#logo-336
{
	width: 18px !important;
	height: 18px !important;

	margin-left: -1px !important;
	margin-top: -10px !important;

}

#logo-337
{
	margin-left: -8px !important;

}

#logo-338
{
	margin-left: -14px !important;
	margin-top: -22px !important;

}

#logo-339
{
	margin-left: -1px !important;

}

#logo-340
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -5px !important;
	margin-top: -20px !important;

}

#logo-341
{
	margin-left: -9px !important;
	margin-top: 9px !important;

}

#logo-342
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -13px !important;

}

#logo-343
{
	margin-left: -20px !important;
	margin-top: -17px !important;

}

#logo-344
{
	margin-top: -19px !important;

}

#logo-345
{
	margin-left: -23px !important;
	margin-top: -7px !important;

}

#logo-346
{
	margin-left: 4px !important;
	margin-top: -12px !important;

}

#logo-347
{
	margin-left: -16px !important;
	margin-top: -4px !important;

}

#logo-348
{
	margin-top: -7px !important;
	margin-left: -14px !important;

}

#logo-349
{
	margin-top: -2px !important;
	margin-left: -43px !important;

}

#logo-350
{
	margin-left: -16px !important;
	margin-top: -15px !important;

}

#logo-351
{
	width: 20px !important;
	height: 20px !important;

}

#logo-352
{
	margin-left: -16px !important;

}

#logo-353
{
	width: 16px !important;
	height: 16px !important;

	margin-left: -3px !important;

}

#logo-354
{
	margin-top: -20px !important;

}

#logo-355
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -10px !important;
	margin-top: -21px !important;

}

#logo-356
{
	margin-left: -13px !important;
	margin-top: -17px !important;

}

#logo-357
{
	margin-left: -15px !important;
	margin-top: -22px !important;

}

#logo-359
{
	margin-left: -10px !important;
	margin-top: -10px !important;

}

#logo-360
{
	margin-left: -9px !important;
	margin-top: -17px !important;

}

#logo-361
{
	margin-left: -7px !important;
	margin-top: -1px !important;

}

#logo-362
{
	margin-left: -29px !important;
	margin-top: -18px !important;

}

#logo-363
{
	margin-left: -9px !important;
	margin-top: -18px !important;

}

#logo-364
{
	margin-left: 1px !important;
	margin-top: -28px !important;

}

#logo-365
{
	margin-left: -1px !important;

}

#logo-366
{
	margin-left: -4px !important;

}

#logo-367
{
	margin-left: -23px !important;
	margin-top: 3px !important;

}

#logo-368
{
	margin-left: -18px !important;
	margin-top: -14px !important;

}

#logo-369
{
	margin-left: 3px !important;
	margin-top: -9px !important;

}

#logo-370
{
	margin-left: -4px !important;
	margin-top: -7px !important;

}

#logo-371
{
	margin-left: -9px !important;
	margin-top: -29px !important;

}

#logo-372
{
	margin-left: -24px !important;
	margin-top: -18px !important;

}

#logo-373
{
	margin-left: -19px !important;
	margin-top: -4px !important;

}

#logo-374
{
	margin-left: -7px !important;
	margin-top: -21px !important;

}

#logo-375
{
	margin-left: 20px !important;
	margin-top: -8px !important;

}

#logo-376
{
	margin-left: 12px !important;
	margin-top: -26px !important;

}

#logo-377
{
	margin-left: -35px !important;
	margin-top: -15px !important;

}

#logo-378
{
	margin-top: -18px !important;

}

#logo-379
{
	margin-left: -5px !important;
	margin-top: 7px !important;

}

#logo-380
{
	margin-left: -27px !important;
	margin-top: 4px !important;

}

#logo-381
{
	margin-left: -24px !important;
	margin-top: -21px !important;

}

#logo-382
{
	margin-left: -56px !important;
	margin-top: -25px !important;

}

#logo-383
{
	margin-left: -28px !important;
	margin-top: 5px !important;

}

#logo-384
{
	margin-left: -18px !important;
	margin-top: -23px !important;

}

#logo-385
{
	margin-left: -3px !important;
	margin-top: -17px !important;

}

#logo-386
{
	margin-left: 3px !important;
	margin-top: 0px !important;

}

#logo-387
{
	margin-left: -18px !important;
	margin-top: -12px !important;

}

#logo-388
{
	margin-top: -23px !important;

}

#logo-389
{
	margin-left: -16px !important;
	margin-top: -22px !important;

}

#logo-390
{
	margin-left: -3px !important;
	margin-top: 4px !important;

}

#logo-391
{
	margin-left: 7px !important;

}

#logo-392
{
	margin-left: -7px !important;
	margin-top: -16px !important;

}

#logo-393
{
	margin-left: -15px !important;
	margin-top: -22px !important;

}

#logo-394
{
	margin-left: -3px !important;
	margin-top: -28px !important;

}

#logo-395
{
	margin-left: 0px !important;
	margin-top: -13px !important;

}

#logo-396
{
	margin-left: -5px !important;
	margin-top: -7px !important;

}

#logo-397
{
	margin-left: -6px !important;
	margin-top: -15px !important;

}

#logo-398
{
	margin-left: 13px !important;
	margin-top: -24px !important;

}

#logo-399
{
	margin-left: -4px !important;
	margin-top: -17px !important;

}

#logo-400
{
	margin-left: -14px !important;
	margin-top: -15px !important;

}

#logo-401
{
	margin-left: -17px !important;
	margin-top: -5px !important;

}

#logo-402
{
	margin-left: -22px !important;
}

#logo-403
{
	margin-left: -7px !important;
	margin-top: -8px !important;

}

#logo-404
{
	margin-left: -5px !important;
	margin-top: -16px !important;

}

#logo-405
{
	margin-left: -20px !important;
	margin-top: -19px !important;

}

#logo-406
{
	margin-left: 5px !important;
	margin-top: -5px !important;

}

#logo-407
{
	margin-left: 8px !important;
	margin-top: -10px !important;

}

#logo-408
{
	margin-left: -22px !important;
	margin-top: -4px !important;

}

#logo-409
{
	margin-left: 2px !important;
	margin-top: -8px !important;

}

#logo-410
{
	margin-left: -17px !important;
	margin-top: -5px !important;

}

#logo-411
{
	margin-left: -33px !important;
	margin-top: 18px !important;

}

#logo-412
{
	margin-top: -14px !important;

}

#logo-413
{
	margin-left: -3px !important;

}

#logo-414
{
	margin-left: -21px !important;
	margin-top: -2px !important;

}

#logo-415
{
	margin-left: -17px !important;

}

#logo-416
{
	margin-left: -37px !important;

}

#logo-418
{
	margin-left: -24px !important;
	margin-top: -25px !important;

}

#logo-419
{
	margin-left: -14px !important;

}

#logo-420
{
	margin-top: -20px !important;

}

#logo-421
{
	margin-left: -16px !important;

}

#logo-423
{
	margin-left: -9px !important;
	margin-top: -10px !important;

}

#logo-424
{
	margin-left: -21px !important;
	margin-top: -19px !important;

}

#logo-425
{
	margin-left: -8px !important;

}

#logo-427
{
	margin-left: -5px !important;

}

#logo-428
{
	margin-left: -6px !important;
	margin-top: -11px !important;

}

#logo-429
{
	width: 20px !important;
	height: 20px !important;

	margin-top: -15px !important;

}

#logo-430
{
	margin-top: -15px !important;

}

#logo-431
{
	margin-left: -2px !important;
	margin-top: -20px !important;

}

#logo-432
{
	margin-left: -3px !important;
	margin-top: -15px !important;

}

#logo-434
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -27px !important;

}

#logo-436
{
	margin-left: 14px !important;

}

#logo-437
{
	margin-left: -15px !important;
	margin-top: -25px !important;

}

#logo-438
{
	margin-left: -1px !important;
	margin-top: -1px !important;

}

#logo-439
{
	margin-left: 16px !important;
	margin-top: 13px !important;

}

#logo-440
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -8px !important;
	margin-top: -19px !important;

}

#logo-441
{
	margin-left: -19px !important;

}

#logo-442
{
	margin-left: -6px !important;
	margin-top: -18px !important;

}

#logo-443
{
	margin-left: -1px !important;
	margin-top: -3px !important;

}

#logo-444
{
	margin-left: -9px !important;
	margin-top: -21px !important;

}

#logo-445
{
	margin-left: -34px !important;
	margin-top: 21px !important;

}

#logo-446
{
	margin-left: -2px !important;

}

#logo-448
{
	margin-left: -27px !important;
	margin-top: -20px !important;

}

#logo-449
{
	margin-left: -30px !important;
	margin-top: -1px !important;

}

#logo-450
{
	margin-left: 2px !important;
	margin-top: -8px !important;

}

#logo-451
{
	margin-left: -2px !important;
	margin-top: -18px !important;

}

#logo-452
{
	margin-left: -7px !important;
	margin-top: -23px !important;

}

#logo-453
{
	margin-left: -19px !important;
	margin-top: 1px !important;

}

#logo-454
{
	margin-top: -24px !important;

}

#logo-455
{
	margin-left: -3px !important;
	margin-top: -15px !important;

}

#logo-456
{
	margin-left: 4px !important;
	margin-top: -8px !important;

}

#logo-457
{
	margin-left: -7px !important;
	margin-top: -14px !important;

}

#logo-458
{
	width: 20px !important;
	height: 20px !important;

	margin-left: -3px !important;

}

#logo-459
{
	margin-left: 9px !important;
	margin-top: -4px !important;

}

#logo-460
{
	margin-left: -2px !important;
	margin-top: -21px !important;

}

#logo-462
{
	margin-left: -9px !important;
	margin-top: -15px !important;

}

#logo-464
{
	margin-left: -5px !important;
	margin-top: -15px !important;

}

#logo-465
{
	margin-left: 6px !important;

}


#logo-466
{
	margin-left: -15px !important;
	margin-top: -8px !important;

}

#user-interface
{
	position: absolute;

	right: 0;
	z-index: 20;
	background-color: #bbb;
	width: 45%;
	height: 100%;
}
 

/********************************/
/*             UI               */
/********************************/

#province-details
{
	position: relative;

	float: left;

	margin-left: 10px;

}

#province-name
{
	position: relative;

	float: left;

}

#province-map
{
	position: relative;

	float: left;

	margin-left: 10px;

}

#province-income
{
	position: relative;

	float: left;

	margin-left: 10px;
}

#province-owner
{
	position: relative;

	float: left;

	clear: left;

}

#province-owners-logo
{
	position: relative;

	float: left;

}

#province-owners-abbreviation
{
	position: relative;

	float: left;

	margin-left: 10px;

}

#province-owners-name
{
	position: relative;

	float: left;

	margin-left: 10px;

}

#owners-tanks
{
	position: relative;
	float:left;

	clear: left;
}